@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Product Table</h1>

<table id="myTable" class="table">
  <thead>
    <tr>

      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">ISBN</th>
      <th scope="col">List Price</th>
      <th scope="col">Price</th>
      <th scope="col">Price 50</th>
      <th scope="col">Price100</th>
      <th>Category</th>
      <th>CoverType</th>
      <th>Actions</th>

    </tr>
  </thead>
  <tbody>
      <a asp-action="Create" asp-controller="Product">Create New Category</a>
       @* @foreach (var obj in Model)
        {
                        <tr>
                  <th>@obj.Image</th>
                  <th>@obj.Title</th>
                  <th>@obj.Description</th>
                  <th>@obj.ISBN</th>
                  <th>@obj.ListPrice</th>
                  <th>@obj.Price</th>
                  <th>@obj.Price50</th>
                  <th>@obj.Price50</th>
                  <th>@obj.Category</th>
                  <th>@obj.CoverType</th>
                  <td>
                          <a asp-action="Edit" asp-controller="Product" asp-route-id = "@obj.Id" class="btn btn-warning">Edit</a>
                          <a asp-action="Delete" asp-controller="Product" asp-route-id = "@obj.Id" class="btn btn-danger">Delete</a>
                  </td>
                </tr>
        }*@


  </tbody>
</table>

@section Scripts{
    <script src="~/js/product.js"></script>
}